@media only screen and (max-width : 768px) {
.material-icons {
    visibility:visible!important;
    display:block!important;
    position: fixed;
    margin-top: -42px;
    padding-left: 3%;
}
}
@media only screen and (min-width : 768px) {
.material-icons {
    visibility: none;
    display: none;
}
}