.modal {
    position: fixed !important;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    content:"";
    font-size: 0px;
}

.modal-close:hover {
    background-color: white !important;
    margin-right: 10px;
}



.modal-close:before {
    display: block;
    content: " ";
    font-size: 0px !important;
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png");
    height: 20px;
    width: 20px;
    background-size:contain;
}

button.modal-action {
    color:#fff;
    margin-right: 5px !important;
}

@media only screen and (max-width : 992px) {
    #createJobBtn {
        margin-top: 3.5%;
    }
    }